@charset "UTF-8";

body {
	border-collapse: collapse;
	font-family:'맑은 고딕';
}

table {
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}



.writebt {
	background-color:  rgb(49, 100, 176);
	border-radius: 25px;
	height: 30px;
}

#writebt {
	width: 70px;
	height: 35px;
	background-image: url("../images/writebt.PNG");
	background-repeat: no-repeat;
	background-size: 71px 37px;
	border-radius: 5px;
}

#searchbt {
	width: 70px;
	height: 30px;
	background-image: url("../images/searchbutton.png");
	background-repeat: no-repeat;
	background-size: 70px 30px;
	cursor: pointer;
}

#boardhead {
	background-color: rgb(49, 100, 176);
}

#content {
	width: 500px;
	margin-top:50px;
}

.contenttd {
	align: "center";
	width: 70px;
}

#likebutton {
	width: 70px;
	height:30px;
	text-align: right;
	border-radius: 10px;
	background-image: url("../images/likebutton.PNG");
	background-repeat: no-repeat;
	background-size: 30px 20px;
	background-position: left;
	background-color: white;
}

.contentbt {
	border-radius: 10px;
	background-color:  rgb(49, 100, 176);
	color: white;
	height : 40px;
	border: none;
}
<<<<<<< HEAD
#list{
	margin-top:30px;
	
=======

#footertable{
	color: white;
}
#termsbt{
	color:white;
>>>>>>> branch 'master' of https://github.com/dojjong/whatthebus_project
}